<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card-group mb-0">
                <div class="card p-4">
                    <div class="card-body" [formGroup]="adminRegister"> 
                        <h1>Register</h1>
                        <p class="text-muted">Create your account</p>
                        <!--Username-->
                        <div class="input-group mb-3">

                            <input type="text" class="form-control" placeholder="Username"
                                formControlName="userName"  required>
                               
                        </div>
                        <div *ngIf=" userName&& userName.touched||userName!.dirty ">

                            <div *ngIf="userName && userName.invalid" class="alert alert-danger">
                                User name is required.</div>
                                <div *ngIf="userName && userName.hasError('pattern') "class="alert alert-danger">
                                    only number and Alphabets allowed.</div>
    
                                
                        </div>
                      
                        <!--Password-->
                        <div class="input-group mb-4">

                            <input type="password" class="form-control" placeholder="Password"
                                formControlName="password" required>
                        </div>
                        <div *ngIf=" getControl('password')&& getControl('password')!.touched||getControl('password')!.dirty ">

                            <div *ngIf="getControl('password') && getControl('password')!.invalid" class="alert alert-danger">
                                password is required.</div>
                                <div *ngIf="getControl('password') && getControl('password')!.hasError('pattern') "class="alert alert-danger">
                                    Only alphabets numbers and special Characters(@ . _ ) allowed .</div>
                        </div>
                        <!--Confirm Password-->
                        <div class="input-group mb-4">

                            <input type="password" class="form-control" placeholder="Confirm Password"
                                  formControlName="confirmPassword" required>
                        </div>
                        <div *ngIf=" getControl('confirmPassword')&& getControl('confirmPassword')!.touched||getControl('confirmPassword')!.dirty ">

                            <div *ngIf="getControl('confirmPassword') && getControl('confirmPassword')!.invalid" class="alert alert-danger">
                                con password is required.</div>
                                <div *ngIf="getControl('confirmPassword') && adminRegister.hasError('notSame')" class="alert alert-danger">
                                    Password doesn't match.</div>
                                    
                        </div>
                     
                        
                        <!-- name -->
                        <div class="input-group mb-4">

                            <input type="text" id="name" name="name" class="form-control"
                                placeholder="Name" 
                                formControlName="name"  required>
                        </div>
                        <div *ngIf=" getControl('name')&& getControl('name')!.touched||getControl('name')!.dirty ">

                            <div *ngIf="getControl('name') && getControl('name')!.invalid" class="alert alert-danger">
                                Name is required.</div>
                               
                         
                        </div>
                        <!--Email-->
                        <div class="input-group mb-4">

                            <input type="email" class="form-control" placeholder="Email"
                            formControlName="email"  required>
                        </div>
                        <div *ngIf=" getControl('email')&& getControl('email')!.touched||getControl('email')!.dirty ">

                            <div *ngIf="getControl('email') && getControl('email')!.invalid" class="alert alert-danger">
                                email is required.</div>
                                <div *ngIf="getControl('email') && getControl('email')!.hasError('email')" class="alert alert-danger">
                                    invalid email ID.</div>  
                         
                        </div>
                        <!--Phone-->
                        <div class="input-group mb-4">

                            <input type="phone" class="form-control" placeholder="Contact Number"
                            
                             formControlName="contactNo"  required>
                        </div>
                        <div *ngIf=" getControl('contactNo')&& getControl('contactNo')!.touched||getControl('contactNo')!.dirty ">

                            <div *ngIf="getControl('contactNo') && getControl('contactNo')!.invalid" class="alert alert-danger">
                                Contact Number is required and should be of length 10.</div>
                            <div *ngIf="getControl('contactNo') && getControl('contactNo')!.hasError('pattern') "
                                class="alert alert-danger">
                                Please enter a valid mobile number.</div>
                         
                        </div>
                        <!--Date of Birth-->
                        <div class="input-group mb-4">

                            <input type="date" class="form-control" placeholder="Date of Birth"
                            formControlName="dob"  required>
                        </div>
                        <div *ngIf=" getControl('dob')&& getControl('dob')!.touched||getControl('dob')!.dirty ">

                            <div *ngIf="getControl('dob') && getControl('dob')!.invalid" class="alert alert-danger">
                               Date of Birth is required.</div>
                                <div *ngIf="getControl('dob') && getControl('dob')!.hasError('futureDate')" class="alert alert-danger">
                                    Date can't be from future .</div>
                         
                        </div>
                        <!--Address-->
                        <div class="input-group mb-4">

                            <input type="text" class="form-control" placeholder="Address"
                                
                                formControlName="address"   required>
                        </div>
                        <div *ngIf=" getControl('address')&& getControl('address')!.touched||getControl('address')!.dirty ">

                            <div *ngIf="getControl('address') && getControl('address')!.invalid" class="alert alert-danger">
                               Address is required.</div>
                               <div *ngIf="getControl('address') && getControl('address')!.hasError('pattern') "class="alert alert-danger">
                                Please enter a valid address it should be atleast of length 5 .</div>
                        </div>
                        <div class="row">

                            <button type="button" class="btn btn-primary px-4" (click)=" registerAdmin()"[disabled]="adminRegister.invalid">Register</button>



                        </div>
                    </div>
                </div>

            </div>
            <div *ngIf="msg">
                <p class="alert alert-success">{{msg}}</p>

            </div>

            <div *ngIf="errorMsg">
                <p class="alert alert-danger">{{errorMsg}}</p>

            </div>
        </div>
    </div>
</div>
