<div class="bg-image" style="background-image: url('../assets/User Flight.png');">


  <div class="card-header">
    <div style="font-family: cursive; font-size: x-large; color: rgb(15, 1, 1); text-align: center;">LIST OF ALL FLIGHTS
    </div>
  </div>
  <div *ngFor="let schedule of schedules">
    <div class="card">
      <div class="card-content">
        <p>Name: {{ schedule.carrierName }}</p>
        <p>ID: {{schedule.scheduleId}}</p>
        <p >Route: {{schedule.sourceAirport}} <span class="arrow">&#8594;</span> {{schedule.destinationAirport}}</p>
        <div class="schedule">
          <div class="time-container">
            <span class="float_left">Departure Date: {{ schedule.departureTime | date:'mediumDate' }}</span>
            <span class="float_right">Departure Time: {{ schedule.departureTime | date:'shortTime' }}</span>
          </div>
          <div class="time-container">
            <span class="float_left">Arrival Date: {{ schedule.arrivalTime | date:'mediumDate' }}</span>
            <span class="float_right">Arrival Time: {{ schedule.arrivalTime | date:'shortTime' }}</span>
          </div>
          <hr>
          <div class="price-container">
            <span class="float_left">Price: {{schedule.price}}</span>
          </div>
          <div class="button-container">
            <button class="btn btn-primary" (click)="addBooking(schedule.scheduleId)">Book Now</button>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>