.card-header{

    background-color: rgb(250, 250, 250);

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 10px 20px;

    color: rgb(7, 146, 246);

}

.formwrapper{

    display: flex;

    justify-content: center;

    align-items: center;

    height: 100%;

    width: 100%;

    position: absolute;

    top: 0;

    left: 0;

    background-color: rgba(0, 0, 0, 0);

    z-index: 100;

}

.airportform{

    background-color: rgb(169, 180, 183);

    width: 50%;

    padding: 10px 40px;

    border-radius: 5px;

}

.btn-primary{

    background-color: black;

    color: white;

}

.column {

    float: left;

    width: 50%;

    padding: 0 10px;

}

.action{

    display: flex;

    justify-content: center;

    gap: 50px;

    margin: 20px;

}
