.centered-bold-text {
    font-weight: bold;
  }

.bg-cover {
    background-attachment: static;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
    background-image: url('https://images.unsplash.com/photo-1608916403143-c9de75ac9e9a?ixid=MnwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8OTl8fHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80');
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* Style the greyed-out div */
.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Style the text in the greyed-out div */
.overlay h1,
.overlay p {
    margin: 0;
    color: white;
}

.overlay h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
 

.overlay p {
    font-size: 1rem;
}

.card {
   box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.card:hover {
    animation: flicker 0.5s ease-in-out;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px; /* Adjust the gap between grid items */
    align-items: center;
    text-align: center;
}

.image-container {
    width: 100%;
    max-width: 100%;
}

.image {
    max-width: 100%;
    height: auto;
}

@keyframes flicker {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0.5;
        transform: scale(0.95);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}