<header>
  <!-- Header section -->
  <section class="jumbotron bg-cover text-white"
    style="background-image: linear-gradient(to bottom, rgba(147, 136, 136, 0.6) 0%,rgba(0,0,0,0.6) 100%), url('/assets/top-band-1647004089 copy.jpg');height: 680px;">
    <div class="container overlay">
      <h1 class="jumbotron-heading">Welcome to Flight Booking Services</h1>
      <p class="lead">Travel is an investment in yourself. Take only memories, leave only footprints.</p>
      <button class="btn btn-primary my-2" routerLink="/scheduledFlights">Book Flight</button>
    </div>
  </section>
  <section class="py-5">
    <div class="container">
      <h2 class="text-center mb-5">Why book with us?</h2>
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <img class="card-img-top" src="assets\easy-booking.svg" style="width:100%;height: 280px;" alt="">
            <div class="card-body">
              <h4 class="centered-bold-text">Easy Booking</h4>
              <p class="card-text">We offer easy and convenient flight bookings with attractive offers.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <img class="card-img-top" src="assets\exc-deal.svg" style="width:100%;height: 280px;" alt="">
            <div class="card-body">
              <h4 class="centered-bold-text">Exciting deals</h4>
              <p class="card-text">Enjoy exciting deals on flights.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <img class="card-img-top" src="assets\support.svg" style="width:100%;height: 280px;" alt="">
            <div class="card-body">
              <h4 class="centered-bold-text">24/7 Support</h4>
              <p class="card-text">Get assistance 24/7 on any kind of travel related query. We are happy to assist you.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <h2 class="text-center mb-5">Popular Domestic Airlines</h2>
    <div class="image-grid">
      <div class="image-container">
        <img class="image" src="assets\Indigo.png" style="width:250%;height: 50px;" alt="Indigo Airlines">
        <p>Indigo Airlines</p>
      </div>
      <div class="image-container">
        <img class="image" src="assets\Air India Express.png" alt="Air India Express" alt="Air India Express">
        <p>Air India Express</p>
      </div>
      <div class="image-container">
        <img class="image" src="assets\Air India.png" style="width:250%;height: 50px;" alt="Air India">
        <p>Air India</p>
      </div>
      <div class="image-container">
        <img class="image" src="assets\Air Asia India.png" alt="Air Asia India">
        <p>Air Asia India</p>
      </div>
      <div class="image-container">
        <img class="image" src="assets\Akasa.png" alt="Akasa">
        <p>Akasa</p>
      </div>
      <div class="image-container">
        <img class="image" src="assets\SpiceJet.png" alt="SpiceJet">
        <p>SpiceJet</p>
      </div>
      <div class="image-container">
        <img class="image" src="assets\Vistara Airlines.png" alt="Vistara Airlines">
        <p>Vistara Airlines</p>
      </div>
    </div>
  </section>
  <!-- Footer -->
  <footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>
        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i></a>
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
      </section>
      <section class="mb-4">
        <p>
          Flight Service Application made with Angular and Springboot
        </p>
      </section>
    </div>
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white">Capgemini</a>
    </div>
  </footer>