<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                    width="150px" src="assets/profile image.png">
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <strong>{{customer.name}}</strong>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right"><strong>Profile Settings</strong></h4>
                </div>
                <!-- name -->
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control"
                            placeholder="first name" [(ngModel)]="customer.name" #nameRef="ngModel"
                            [disabled]="!isEditable" pattern="[a-zA-Z0-9]*" required>
                        <div *ngIf="nameRef.errors?.['required']" class="alert alert-danger">
                            User name is required.</div>
                        <div *ngIf="nameRef.errors?.['pattern']" class="alert alert-danger">
                            Only alphabets and Numbers allowed .</div>
                    </div>

                    <div class="col-md-6"><label class="labels">Username</label><input type="text" class="form-control"
                            value="" placeholder="username" [(ngModel)]="customer.userName" disabled></div>
                </div>
                <!-- email -->
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">EMail ID</label><input type="text" class="form-control"
                            placeholder="enter email id" [(ngModel)]="customer.email" #emailRef="ngModel"
                            [disabled]="!isEditable" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                    </div>
                    <div *ngIf="emailRef.invalid && (emailRef.dirty || emailRef.touched)">
                        <div *ngIf="emailRef.errors?.['required']" class="alert alert-danger">
                            email is required.</div>
                        <div *ngIf="emailRef.errors?.['pattern']" class="alert alert-danger">Enter
                            valid email e.g : info@gmail.com
                        </div>
                    </div>
                    <!-- phone number -->
                    <div class="col-md-12"><label class="labels">Phone</label><input type="text" class="form-control"
                            placeholder="enter phone number" [(ngModel)]="customer.contactNo" #contactRef="ngModel"
                            pattern="[0-9]{10}" [disabled]="!isEditable" required></div>
                    <div *ngIf="contactRef.invalid && (contactRef.dirty || contactRef.touched)">

                        <div *ngIf="contactRef.errors?.['required']" class="alert alert-danger">Contact Number is
                            required.</div>

                        <div *ngIf="contactRef.errors?.['pattern']" class="alert alert-danger">Contact Number
                            must be of 10 chars,Only Numbers allowed..</div>
                    </div>
                    <!-- date of birth -->
                    <div class="col-md-12"><label class="labels">Date of Birth</label><input type="date"
                            class="form-control" placeholder="enter date of Birth" [(ngModel)]="customer.dob"
                            #dobRef="ngModel" [disabled]="!isEditable" required></div>
                    <div *ngIf="dobRef.invalid && (dobRef.dirty || dobRef.touched)">
                        <div *ngIf="dobRef.errors?.['required']" class="alert alert-danger">DOB is
                            required.</div>
                    </div>
                    <!-- address -->
                    <div class="col-md-12"><label class="labels">Address</label><input type="text" class="form-control"
                            placeholder="enter address " [(ngModel)]="customer.address" [disabled]="!isEditable"
                            pattern="[a-zA-Z0-9,]{5,}" #addRef="ngModel" required>
                    </div>
                    <div *ngIf="addRef.invalid && (addRef.dirty || addRef.touched)">
                        <div *ngIf="addRef.errors?.['required']" class="alert alert-danger">Address
                            is required.</div>
                        <div *ngIf="addRef.errors?.['pattern']" class="alert alert-danger">Address
                            must be min 5 char and only numbers and characters allowed</div>
                    </div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-warning profile-button" *ngIf="!isEditable"
                        type="button" (click)=" editClick()">Edit Profile</button></div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" *ngIf="isEditable"
                        (click)=" editCustomerProfile()" type="button">Update Profile</button></div>
                <div class="mt-5 text-center"><button class="btn btn-warning profile-button" *ngIf="isEditable"
                        (click)=" editClick()" type="button">Cancel</button></div>
            </div>
            <div *ngIf="msg">
                <p class="alert alert-success">{{msg}}</p>
            </div>
            <div *ngIf="errorMsg">
                <p class="alert alert-danger">{{errorMsg}}</p>
            </div>
        </div>
    </div>
</div>